sudo apt install -y default-jre
sudo apt-get install xclip
sudo apt install -y gnome-terminal
sudo apt install -y libsdl2-dev libsdl2-image-dev libsdl2-ttf-dev

pip3 install --upgrade pip
pip3 install pygame
pip3 install llvmlite
pip3 install antlr4-python3-runtime==4.9.2
pip3 install pydot
pip3 install pyudev
pip install PySDL2

mkdir -p /tmp
wget https://www.antlr.org/download/antlr-4.9.2-complete.jar -P /tmp/

echo 'export CLASSPATH=".:/tmp/antlr-4.9.2-complete.jar:$CLASSPATH"' >> ~/.bashrc
echo 'alias antlr4="java -jar /tmp/antlr-4.9.2-complete.jar"' >> ~/.bashrc
echo 'alias grun="java org.antlr.v4.gui.TestRig"' >> ~/.bashrc
source ~/.bashrc


bash CompilerLogic/ir/build_runtime.sh
clang -c out/vGraph.ll -o out/vGraph.o
clang out/vGraph.o CompilerLogic/ir/runtime.o -lm -o out/vGraph.exe
./out/vGraph.exe